.text-center{
  text-align: center;
}

.dismiss-item{
  position: absolute;
  right: 40px;
  top: 1px;
}
.ant-btn-primary{
  border-color: $mainColor!important;
}

.img-responsive{
  width: 100%;
}

.mega-menu{
  width: 100%;
  max-width: 1440px;
  height: auto!important;
  max-height: none!important;
  cursor: auto;
  padding: 0!important;
  .menu-holder{
    padding: 20px;
  }
  figure{
    margin: 0!important;
    padding: 0!important;
    img{
      margin: 0!important;
    }
  }
}

.py-1{
  padding-top:10px;
  padding-bottom:10px
}
.py-16{
  padding-top:16px;
  padding-bottom:16px
}
.mb-16{
  margin-bottom:16px;
}
.mr-16{
  margin-right:16px;
}
.mb-8{
  margin-bottom:8px;
}

.layout-wrapper{
  padding:0 50px;
  @media (max-width: 767px) {
    padding: 0 15px;
}
}

.home-featured{
  position: relative;
  .search-tabs{
    position: absolute;
    left: 50px;
    top: 50px;
    min-width: 280px;
    .ant-tabs-nav{
      margin-bottom: 0;
    }
    .ant-tabs-nav-list{
      background: rgba(255, 255, 255, 0.90);
      padding: 0 15px;
      .ant-tabs-tab{
        margin:0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .ant-tabs-content-holder{
      background: rgba(255, 255, 255, 0.90);
      padding:15px

    }
  }
}
@media (max-width: 1135px) {
  .hidden-medium{
    display: none;
  }
}
@media (max-width: 768px) {
  .mb-sm-16{
    margin-bottom: 16px;
  }
}
.full-width{
  width: 100%;
}
.long-input{
  width: 400px;
}

.home-collection{
  cursor: pointer;
  position: relative;
  .figure{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-size 0.2s ease-in-out;
    transition: background-size 0.2s ease-in-out;
    background-size: 103%;
    transition: all .7s ease-in-out;
    position: relative;
    z-index: 1;

  &:after{
    position: absolute;
    z-index: 1;
    background-color: $black;
    display:block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
  }
  }
  figure{
    opacity: 0;
    margin: 0;
  }
  &:hover{
    .figure{
      background-size: 107%;
      transition: all .7s ease-in-out;
      &::after{
        opacity: 0.5;
      }
    }
  }
  .headline{
    position: absolute;
    z-index: 3;
    bottom: 25px;
    left: 25px;
    color:$white;
    font-size: 2em;
    font-weight: bold;
    i{
      position: relative;
      top: 0.2em;
      left: 0.5em;
    }
    &.smaller{
      font-size: 1.4em;
    }
  }
  .collection-info{
    position: absolute;
    right: 25px;
    top: 25px;
    width: calc(100% - 50px);
    z-index: 3;
    text-align: right;
    opacity: 0;
    transition: all .7s ease-in-out;
    > *{
      margin:0 10px 10px 0;
    }
    .collection-detail{
      text-align: left;
      background: $white;
      max-width: 350px;
      padding: 15px;
      pointer-events: none;
      .table{
        width: 100%;
        td{
          border: 1px solid $light;
          padding:5px;
          &:first-child{
            width:60px
          }
        }
      }
    }
  }
  &:hover{
    .collection-info{
      opacity: 1;
    }
  }
}
.text-right{
  text-align: right;
}

.gray-background{
  background:$gray
}

main{
  background-color: $white;
}

article h1{
  font-size: 2em;
}

.cut-in-half{
  position: relative;
  max-height: 160px;
  overflow: hidden;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.45,.45,.48,.93);
  &.show{
    max-height: none;
    .degrade{
      display: none!important;
    }
  }
  .degrade {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 99;
    background: 0 0;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.53) 50%,rgba(255,255,255,.83) 82%,#fff 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.53)),color-stop(82%,rgba(255,255,255,.83)),color-stop(100%,white));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.53) 50%,rgba(255,255,255,.83) 82%,#fff 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.53) 50%,rgba(255,255,255,.83) 82%,#fff 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.53) 50%,rgba(255,255,255,.83) 82%,white 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.53) 50%,rgba(255,255,255,.83) 82%,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
}

.cursor-pointer{
  cursor: pointer;
}
